* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* image-rendering:optimizeQuality; */
}

canvas {
    width: 100%;
    background: #2576bd;
    aspect-ratio: 192 / 108;
    /* display: block; */
}
